body {
  margin: 0;
  font-family: 'League Spartan';
}

.center-img {
  display: block;
  margin: auto;
  width: 40%;
  border-radius: 1000px;
}

header > nav {
  margin-left: 20px;
  display: flex;
  gap: 50px;
  
}